/*  ==== grid-breakpoints ===
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px

  =============================
 */
:root {
  --base-color: #b57552;
}
body {
  background-color: #f6f6f6;
  /* font-family: "IBM Plex Sans Arabic", sans-serif; */
}

header {
  height: 500px;
  background-image: url(/images/header-text-3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* ====-----=== MAIN ELEMENTS ====----== */

nav,
h1,
h2,
h3,
h4,
h5 {
  font-family: "El Messiri", sans-serif;
}

/* ====-----=== STYLING ELEMENTS ====----== */

.read-more-link {
  padding: 3px 10px 4px 20px;
  text-decoration: none;
  color: white;
  background-color: var(--base-color);
  font-weight: bolder;
  transition: all 200ms ease-in-out;
}

.read-more-link:hover {
  color: var(--base-color);
  border: 1px solid var(--base-color);
  background-color: white;
}

.arrow-right {
  position: absolute;
  margin-top: 25px;
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid white;
}

/* ====-----=== CONTENT CARDS STYLING ====----== */

/* ....... image on the top ....... */

.img-top-card-wrapper {
  padding: 5px 5px;
  height: 100%;
}
.img-top-card {
  max-height: 410px;
  padding: 0;
  text-align: right;
  height: 100%;
  background-color: white;
  box-shadow: 1px 2px 15px #e5e5e5;
}

.img-top-card img {
  height: 50%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.img-top-card h5 {
  margin: 10px 10px 0 0;
}

.img-top-card ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.img-top-card a {
  display: inline-block;
  padding: 10px 10px 0 0;
  line-height: 150%;
  color: gray;
  text-decoration: none;
}

.img-top-card a:hover {
  color: var(--base-color);
}

/* ....... full text ....... */

.full-text-card-wrapper {
  padding: 5px 5px 10px;
  height: 100%;
}

.full-text-card {
  max-height: 410px;
  padding: 25px 10px;
  height: 100%;
  background-color: white;
  box-shadow: 1px 2px 15px #e5e5e5;
}

/* ....... flip card ....... */

.flip-card {
  height: 100%;
  padding: 5px 5px 10px;
}

.flip-content {
  max-height: 410px;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-content {
  transform: rotateY(180deg);
  transition: transform 0.7s;
}

.flip-img img {
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;

  object-fit: cover;
  object-position: center;
}

.flip-text {
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;

  transform: rotateY(180deg);

  background-color: white;
  box-shadow: 1px 2px 15px #e5e5e5;
  padding: 25px 20px;
}

.flip-text a {
  color: gray;
  display: inline-block;
  text-decoration: none;
  padding-top: 15px;
}

.flip-text a:hover {
  color: var(--base-color);
}

.flip-text li {
  padding-top: 15px;
}

/* ....... double cards ....... */
.double-card-warpper {
  height: 100%;
  padding: 5px 5px 0;
}

.img-side-card {
  max-height: 200px;
  margin-bottom: 10px;
  font-size: smaller;
  background-color: white;
  box-shadow: 1px 2px 15px #e5e5e5;
}

.img-side-card .title {
  height: 65px;
  padding: 14px 8px 3px 0;
}

.img-side-card .text {
  height: 100px;
  padding: 10px 8px 0;
  text-align: right;
}

.img-side-card .link-wrapper {
  height: 35px;
  padding: 0 8px 0 0;
}

.img-side-card img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
