/*  ==== grid-breakpoints ===
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px

  =============================
 */
:root {
  --base-color: tomato;
}
body {
  background-color: #f6f6f6;
  font-family: "IBM Plex Sans Arabic", sans-serif;
  direction: rtl;
}

header {
  height: 400px;
  background-image: url(/images/cool-undraw.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

/* ====-----=== MAIN ELEMENTS ====----== */

h1,
h2,
h3,
h4,
h5 {
  font-family: "El Messiri", sans-serif;
}
h5 {
  margin-top: 8px;
  line-height: 150%;
}

/* ====-----=== STYLED ELEMENTS ====----== */

.btn-wrapper {
  padding: 8px;
  text-align: center;
}
.card-btn {
  padding: 3px 12px;
  text-decoration: none;
  color: white;
  background-color: var(--base-color);
  font-weight: bolder;
}

/* ====-----=== CONTENT CARDS STYLING ====----== */

/* ....... image on the top ....... */

.img-top-card-wrapper {
  padding: 5px 5px 10px;
  height: 100%;
}

.img-top-card {
  text-align: right;
  height: 100%;
  background-color: white;
  box-shadow: 1px 2px 15px #e5e5e5;
}
.img-top-card p {
  padding: 10px;
}

.img-top-card img {
  height: 50%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

/* ....... full text ....... */

.full-text-card-wrapper {
  padding: 5px 5px 10px;
  height: 100%;
}

.full-text-card {
  padding: 10px;
  text-align: right;
  height: 100%;
  background-color: white;
  box-shadow: 1px 2px 15px #e5e5e5;
}

/* ....... full image ....... */

.full-img-card {
  height: 100%;
  padding: 5px 5px 10px;
}

.full-img-card img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  box-shadow: 1px 2px 15px #e5e5e5;
}

/* ....... double cards ....... */
.double-card-warpper {
  height: 100%;
  padding: 5px 5px 0;
}

.img-side-card {
  height: 210px;
  margin-bottom: 10px;
  font-size: smaller;
  background-color: white;
  box-shadow: 1px 2px 15px #e5e5e5;
}

.img-side-card img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
