/*  ==== grid-breakpoints ===
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px

  =============================
 */
:root {
  --base-color: tomato;
}
body {
  background-color: #f6f6f6;
  font-family: "IBM Plex Sans Arabic", sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "El Messiri", sans-serif;
}
h5 {
  margin-top: 8px;
  line-height: 150%;
}
header {
  height: 400px;
  background-image: url(/images/cool-undraw.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.line-container {
  height: 400px;
}
.main-col {
  padding: 5px 5px;
}
.main-col img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  box-shadow: 1px 2px 15px #e5e5e5;
}

.card-type-1 {
  height: 210px;
  margin-bottom: 10px;
  font-size: smaller;
  background-color: white;
  box-shadow: 1px 2px 15px #e5e5e5;
}

.card-type-2 {
  height: 100%;
  padding-bottom: 10px;
}

.card-type-3 {
  text-align: right;
  padding-bottom: 10px;
  background-color: white;
  box-shadow: 1px 2px 15px #e5e5e5;
}

.side-img-card {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.btn-wrapper {
  padding: 8px;
  text-align: center;
}
.card-btn {
  padding: 3px 12px;
  text-decoration: none;
  color: white;
  background-color: var(--base-color);
  font-weight: bolder;
}

.card-text {
  word-break: normal;
}
